<%- include('partials/header') -%>
  

  <div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <div class="indicator">
    <!-- <span class="indicator-item badge badge-secondary">Click for</span> -->
      <label for="my-drawer" class="btn btn-primary drawer-button">View Accounts</label>
    </div>
    <div>
      <a href="#add-account-section" class="btn btn-primary" >Add Account</a>
    </div>
  </div> 
   <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
     <ul class="menu p-4 overflow-y-auto w-3/5 bg-base-100 text-base-content">
        <% for(var i=0; i<accounts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a class="account-name" href="/feed/<%= accounts[i]._id%>">
              <span><%= accounts[i].accountName%></span>
            </a>
          </li>
        <% } %>
    </ul>

  </div>
</div>

  


  <div id="add-account-section" class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Add New Account</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <form action="/account/createAccount" method="POST">
            <div>
              <label class="label">
                <span class="label-text">Account Name</span>
              </label>
              <label class="input-group input-group-verticall">
                <span>Account</span>
                <input type="text" placeholder="Account Name" class="input input-bordered" id="accountName" name="accountName" />
              </label>
            </div>
            <div class="mt-6">
              <button class="btn btn-primary -btn add-btn" type="submit" value="Upload">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



    <div class="bottom-btn-section">
      <a class="btn btn-primary bottom-btn" href="/profile">Return to Profile</a>
    </div>
<%- include('partials/footer') -%>