<%- include('partials/header') -%>
<%- include('partials/not-logged-in-navbar') -%>


<div class="hero min-h-screen bg-base-200 about-div-1">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Affiliates</h1>
      <p class="py-6">Are you a member of the plant community with a signifcant online presence? We want to work with you! UPPscape will begin a generous affiliates program in 2023. Sign up for our email list below to be the first to hear all the details! </p>
      <a class="btn btn-primary" href="/contact">Sign Up</a>
    </div>
  </div>
</div>  



<%- include('partials/footer') -%>