<%- include('partials/header') -%>

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://pyxis.nymag.com/v1/imgs/87d/07d/fe3b990b931da54de7ff3e122e03f6a0a6-1219-torres.rvertical.w570.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold"><%= user.userName %></h1>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        <a class="btn btn-primary" href="/accounts">Go to Accounts</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>