
.btn.btn-primary.add-btn  {
    color: rgb(81	142	29		);
    width: 6.5em;
    margin-left: auto;
}

.btn.btn-primary.add-btn:hover, .btn.btn-primary.add-btn:active  {
    color: white;

}

.bottom-btn {
    margin: 2em;
}


.login-form {
    max-width: 400px;
    background-color: rgba(255,255,255,.8);
    border: 1px solid rgba(255,255,255,.9);
}

.plant-image {
    height: 12rem;
    width: 12rem;
}

.card {
    border: 1px solid rgb(233	225	62	);
    border-radius: 10px;
}

.card-body {
    background-color: rgb(246	246	195);    
}


a:link:hover, a:link:active {
    color: white;
}


/* .btn.btn-primary {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
} */

/* index.js*/

.hero-h1 {
    color: white;
}

.hero-p {
    color: white;
}

.btn.btn-primary.index-btn > a.index-a  {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 30px;
}

.btn.btn-primary.index-btn {
    width: 70px;
    height: 25px;
}

.btn.btn-primary.index-btn:hover > a.index-a:hover, .btn.btn-primary.index-btn > a.index-a:active  {
    color: white;
}

/*new company*/

.new-company-steps {
    color: #ffffff;
    margin-bottom: 2em;
}

.step-current {
    text-shadow: 2px 2px 2px  rgb(81	142	29		);
    font-size: 1.3em;
    /* text-decoration: underline;
    text-decoration-color: rgb(81	142	29		); */
}
.skip-step-section {
    margin: 2em 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.btn.btn-success.skip-step-btn {
    margin: 1em 0;
    width: auto;
}

.btn.btn-success.skip-step-btn:hover, .btn.btn-success.skip-step-btn:active  {
    background-color: rgb(81	142	29		);
}

/*accounts*/

a.account-name:hover, a.account-name:active {
    text: rgb(81	142	29		);
}

.input-group .input-group-vertical * {
    background-color: rgb(246	246	195);
}

.drawer-content, .bottom-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.drawer-content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

div.drawer-content > div  {
    margin: .5em;
}

.drawer-side {
    width: 150%;
    overflow-x: hidden;
    overflow-y: auto;
    
}

/*locations feed*/

.add-location-section {
    background-color: rgb(23	27	53		);
    color: white;
}

.add-location-section > h2 {
    color: rgb(246	246	195);
    font-size: 2em;
}

div label.above-label, .add-location-btn {
    color: rgb(246	246	195);
}

.btn.btn-primary.add-location-btn {
    border-color: rgb(246	246	195);
}

/* .btn.btn-primary.add-location-btn:hover {
    border: none;
} */

.btn.btn-primary.mark-serviced-btn {
    color: rgb(81	142	29		);
}

.btn.btn-primary.mark-serviced-btn:hover, .btn.btn-primary.mark-serviced-btn:active  {
    color: white;
}

/* Feed */

 .input-group span {
    background-color: rgb(200	200	200	);
    padding: .5em;
}

/*Post*/

label.concern-section {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.concern-section span {
    color: #ffffff;
    background-color: rgb(200	200	200	);
    font-size: 1em;
    padding: .6em;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 2em;
}


/*Footer*/

.email-ask-section {
    background-color: rgb(226,226,226	);
}

.email-input-section {
    padding-bottom: .5em;
}